export CCACHE_DIR="/var/cache/ccache"
export PATH="/usr/lib/ccache:${PATH}"

EXTRAPACKAGES="${EXTRAPACKAGES} ccache pbuilder devscripts gnupg patchutils vim-tiny"
BINDMOUNTS="${BINDMOUNTS} ${CCACHE_DIR}"

MIRRORSITE="http://ftp.tw.debian.org/debian/"
COMPONENTS="main contrib non-free"
DISTRIBUTION=squeeze
BASEPATH=/var/cache/pbuilder/squeeze.cow

#OTHERMIRROR="deb http://ftp.tw.debian.org/debian/ squeeze main contrib non-free|deb http://ftp.tw.debian.org/debian/ squeeze-updates main contrib non-free|deb http://ftp.tw.debian.org/debian/ squeeze-proposed-updates main contrib non-free|deb http://ftp.tw.debian.org/debian-backports squeeze-backports main contrib non-free|deb http://ftp.tw.debian.org/debian-multimedia squeeze main non-free"

PDEBUILD_PBUILDER=cowbuilder
#export DEB_BUILD_OPTIONS="nostrip"

BUILDRESULT=~/pbuilder/deb/
