export CCACHE_DIR="/var/cache/ccache"
export PATH="/usr/lib/ccache:${PATH}"

EXTRAPACKAGES="${EXTRAPACKAGES} ccache pbuilder devscripts gnupg patchutils vim-tiny"
BINDMOUNTS="${BINDMOUNTS} ${CCACHE_DIR}"

MIRRORSITE="http://ftp.tw.debian.org/debian/"
COMPONENTS="main contrib non-free"
DISTRIBUTION=wheezy
BASEPATH=/var/cache/pbuilder/wheezy.cow

#OTHERMIRROR="deb http://ftp.tw.debian.org/debian/ wheezy main contrib non-free|deb http://ftp.tw.debian.org/debian/ wheezy-updates main contrib non-free|deb http://ftp.tw.debian.org/debian/ wheezy-proposed-updates main contrib non-free|deb http://ftp.tw.debian.org/debian-backports wheezy-backports main contrib non-free|deb http://ftp.tw.debian.org/debian-multimedia wheezy main non-free"

PDEBUILD_PBUILDER=cowbuilder
#export DEB_BUILD_OPTIONS="nostrip"

BUILDRESULT=~/pbuilder/deb/
